body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    gap: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    max-width: 1440px;
    border-style: solid;
    border-radius: 15px;
    border-width: 5px;
    border-color: rgba(76, 0, 255, 0.664);
    box-shadow: 0px 0px 60px rgba(170, 138, 243, 0.548);
}

/*MAIN IMAGE*/
figure {
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin: 0;
}

figure img {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.486);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

figcaption {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    padding: 34px;
    font-weight: bold;
    letter-spacing: 1rem;
    margin-top: -565px;
    background-color: rgba(0, 0, 0, 0.295);
}

/*HEADER*/

h1 {
    font-size: 1.5rem;
    font-weight: lighter;
}

h1 i {
    color: rgba(76, 0, 255, 0.664);
    text-shadow: 1px 2px 3px rgba(76, 0, 255, 0.664);
}


/*FORM*/
h3 {
    font-size: 1.4rem;
    margin-left: 30px;
    color: rgba(76, 0, 255, 0.664);

}

label,
input {
    display: flex;
    flex-direction: column;
}

label {
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.795);
}

input::placeholder {
    color: rgba(76, 0, 255, 0.664);
    opacity: 0.2;
}

.ex {
    font-size: 0.8rem;
    color: rgba(220, 20, 60, 0.705);
}

input {
    font-size: 1.1rem;
    text-decoration: none;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.144);
    border-width: 2px;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: rgba(76, 0, 255, 0.664);
}

input:valid {
    border-color: green;
}


.wrapper {
    width: 100%;
    margin-top: 60px;
}


.formWrapper {
    box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.274);
    padding: 30px;
    margin-left: -60px;
    margin-top: 60px;
    padding-top: 10px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 30px;
    max-width: 600px;
}

/*FOOTER*/
footer {
    margin-top: 30px;
}

.createAccount {
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    padding: 15px 40px 15px 40px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 10px;
    border: none;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
    transition: 250ms;
}

.createAccount:hover {
    color: rgba(76, 0, 255, 0.664);
}

footer span {
    color: rgba(76, 0, 255, 0.664);
    cursor: pointer;
}

h4 {
    color: rgba(0, 0, 0, 0.795);
}

@media only screen and (max-width: 1320px) {
    figcaption {
        transform: rotate(90deg);
    }

}